<p>style-binding works!</p>

<div [style.background-color]="backColor" class="p-5">
  <h1 [style.color]="textColor">demo text</h1>
  <p
    [style.font-size]="fontSize"
    [style.background-color]="pTagBack"
    class="p-4"
  >
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia,
    blanditiis. Quasi facere consequuntur autem delectus! Consectetur iste,
    tenetur doloribus porro qui recusandae quo nesciunt magni quisquam, soluta
    obcaecati deserunt veniam?
  </p>
</div>
