<!-- <app-data-types></app-data-types> -->
<!-- <app-string-interpolation></app-string-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-ng-class-directive></app-ng-class-directive> -->
<!-- <app-ng-style-directive></app-ng-style-directive> -->
<!-- <app-ng-if-directive></app-ng-if-directive> -->
<!-- <app-ng-for-directive></app-ng-for-directive> -->
<!-- <app-ng-switch-directive></app-ng-switch-directive> -->

<!-- <app-if-else-control-flow></app-if-else-control-flow> -->
<!-- <app-for-control-flow></app-for-control-flow> -->
<!-- <app-switch-control-flow></app-switch-control-flow> -->
<!-- <app-model-example></app-model-example> -->
<!-- <app-our-team></app-our-team> -->
<!-- <app-product-list></app-product-list> -->
<!-- <app-deault-pipes></app-deault-pipes> -->
<!-- <app-custom-pipes></app-custom-pipes> -->
<router-outlet></router-outlet>
