<div class="card team-info position-realative">
  <div class="card-body">
    <img [src]="teamMember.image" alt="" />
    <h2>{{ teamMember.name }}</h2>
    <h4>{{ teamMember.position }}</h4>
    <p>{{ teamMember.description }}</p>
    <div class="d-flex gap-4 justify-content-center">
      <div class="social-icon">
        <i class="fa-brands fa-facebook-f"></i>
      </div>
      <div class="social-icon"><i class="fa-brands fa-twitter"></i></div>
      <div class="social-icon"><i class="fa-solid fa-envelope"></i></div>
    </div>
  </div>
</div>
